body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #3498db;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 600px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    width: 100%; /* Adicionado para ocupar 100% da largura em dispositivos menores */
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #3498db;
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #fff;
}

/* Adicionado estilo para tornar a tabela responsiva */
@media screen and (max-width: 600px) {

    .form-group{
        width: 50%;
    }

    th,
    td {
        display: block;
        width: 100%;
    }

    label {
        text-align: left; /* Ajuste para manter o alinhamento à esquerda em dispositivos menores */
    }
}

.info-container {
    display: none;
    width: 80%;
    margin-top: 20px;
}

.info-container table {
    margin-top: 10px;
}

.actions-container {
    display: flex;
    gap: 10px;
}

.actions-container button {
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

.actions-container button.edit {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.actions-container button.edit:hover {
    background-color: #2980b9;
}

.actions-container button.delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.actions-container button.delete:hover {
    background-color: #c0392b;
}
